{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <h3>Concordance</h3>
        <form action="{% url 'core:concordance' %}" method="get">
            <div class="col-12">
                <label>
                    <input type="text" name="query" required>
                    <span>Query</span>
                </label>
            </div>
            <div class="col-6">
                <p class="center-align">
                    <label>
                        <input type="radio" value="tm" name="corpus" checked>
                        <span>Taiwan Mandarin</span>
                    </label>
                    <label>
                        <input type="radio" value="mm" name="corpus">
                        <span>Mainland Mandarin</span>
                    </label>
                </p>
            </div>
            <div class="col-12">
                <p class="center-align">
                    <label>
                        <input type="checkbox" name="alignment">
                        <span>Show alignment?</span>
                    </label>
                </p>
            </div>
            <div class="col-12">
                <p class="center-align">
                    <button type="submit" class="waves-effect waves-light btn">Search</button>
                </p>
            </div>
        </form>
    </div>
    <div class="row">
    <h3>Machine Translation</h3>
        <form class="col s12" action="{% url 'core:translate' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12">
                    <textarea name="translate-box" id="translate-tw" cols="30" rows="10"></textarea>
                    <label for="translate-tw">Taiwan Mandarin</label>
                </div>
            </div>
            <p class="center-align">
                <button type="submit" class="waves-effect waves-light btn">Search</button>
            </p>
        </form>
    {% if target %}
    <h3>Result</h3>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="translate-mw" cols="30" rows="10">{{ target }}</textarea>
                <label for="translate-mw">Mainland Mandarin</label>
            </div>
        </div>
    {% endif %}
    </div>
{% endblock content %}